
@media only screen and (min-width: 992px) {
    .art__image{
        margin: 0 1em 0 3em
    }


    .intro__headline, .intro__subheadline{
        margin-left: 20%;
    }


    .roles, .tool__container, .deliverables{
        justify-content: flex-start;
         flex-flow: row wrap;
         width: 33.3333333%;
    }

    .cases{
        flex-direction: row;
        justify-content: space-around;
        }

    .cases__text{
        margin-left: 20%;
        width: 30%;
    }

    .cases__subheader{
        text-align: left;
    }


    .cases__mockup{
        flex-direction: row;
    }

    .intro__subheadline{
        width: 70%;
    }
    .tools__container {
        display: flex;
    }
    .deliverables{
        align-items: center;
    }

     .orange__header{
        padding-top: 25px;
    }
    .paragraph__subheadline.main{
        padding-bottom: 2em;
        width: 25%;
    }

    .project__featured{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .paragraph__text.pw{
        width: 40%;
        padding: 0;
        margin-right: 2em;
    }

    .past{
        flex-direction: row;
    }
    /** circles in user survey 3 sections**/
    .personas{
        display: flex;
        width: 80%
        padding-left: 10%;
    }

    .persona_one{
        display: flex;
        justify-content: flex-start;
         flex-flow: row wrap;
         width: 33.3333333%;
    }

    .problem{
        width: 50%;
        float: left;
        height: 275px;
        padding: 0;
    }

    .solution{
        width: 50%;
        float: right;
        height: 275px;
        padding: 0;
    }

    .survey__graph{
        justify-content: flex-start;
         flex-flow: row wrap;
         width: 33.3333333%;
         align-items: baseline;
    }

    .survey__circles{
        display: flex;
        flex-direction: row;
        padding-bottom: 50px;
    }


    .survey__graph-container{
        flex-direction: column;
        align-items: center;
    }

    .survey__graph-caption{
        text-align: center;
    }

    .survey__graph-circle{
        width: 50%;
    }

    .persona__headline{
        align-items: baseline;
    }

    .signup{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 25px;
    }
    .project__row-image{
        width: 40%;
        margin: 0 auto;
    }

    .project__images-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 25px 0;
    }
}
