body{
    box-sizing: border-box;
}

.container{
    max-width: 1300px;
}

.art__image{
    display: flex;
    height: 200px;
    width: 200px;
    padding: 25px;
    border-radius: 50%;
}

.branding_images{
    display: flex;
    align-items: center;
    background-color: #D1DAE3;
    flex-direction: column;
    padding-top: 25px;
}
.cases{
    width: 100%;
    padding: 50px 0;
    background-color: #352689;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cases__headline{
    color:  #DBA327;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    padding-bottom: 25px;
    letter-spacing: .05em;
}

.case__logo{
    height: 50px;
    padding: 25px;
}

.cases__mockup{
padding-bottom: 25px;
width: 50%;
display: flex;
align-self:flex-start;
margin: 0 auto;
}

.cases__subheader{
    font-size: 18px;
    color: #ffffff;
    font-family: 'Montserrat' , sans-serif;
    line-height: 125%;
    padding-bottom: 25px;
}

.case__swot{
    display: flex;
    justify-content: space-around;
}

.cta__button{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid  #DBA327;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    width: 220px;
    color: #ffffff;

}

.conclusion__button{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid  #DBA327;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    width: 220px;
    color: #3A27A5;
    margin: 0 auto;

}

.cta__button:hover{
    color: #D1DAE3;
}

.conclusion{
    padding-bottom: 50px;
}

.conclusion__button{
    display: flex;
    justify-content: center;
}

.copyright{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
/*font awesome icons*/

.fas.fa-angle-down{
    padding: 50px 0;
    font-size: 36px;
    display: flex;
    justify-content: space-around;
}


.fas.fa-wrench, .fas.fa-tv, .fas.fa-pencil-ruler{
    font-size: 32px;
    padding-top: 12px;
}

.fas.fa-pencil-alt, .far.fa-file-alt, .far.fa-handshake, .far.fa-user{
    color: #ffffff;
    font-size: 18px;
    padding-right: 15px;

}

.featured__image{
    width: 40%;
    padding: 25px 25px 50px 25px;
    margin: 0 auto;
}

.flows_parent{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #D1DAE3;
}
.flows__image{
    height: 200px;
    padding: 25px;
}


/** footer styles **/
footer{
    height: auto;
    width: 100%;
    background-color: #251F47;
    color: #ffffff;
}

.footer__button{
    display: flex;
    justify-content: center;
}

.footer__headline{
    padding-top: 50px;
    font-family: 'Fira Sans', sans-serif;
    color: #DBA327;
    font-size: 36px;
    text-align: center;
}

.footer__icon{
    padding-top: 20px;
    color: #DBA327;
    font-size: 25px;
}

.footer__display{
    display: flex;
    justify-content: space-around;
    padding: 25px;

}

.footer__subheadline{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #ffffff;
    padding: 25px;
}

/**case study header**/

.gatherIntro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #251F47, #443599);
    padding-top: 100px;
}

.gather__logo{
    height: 100px;
    padding: 25px;
}

.guide{
    padding: 25px;
    width: 40%;
}

.header{
    display: flex;
    background-color: #251F47;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 50px;
    position: fixed;
    width: 100%;
    z-index: 20;

}

.header__button{
    margin: 10px;
    color: #DBA327;
    font-size: 30px;
    z-index: 300;
}

.header__close{
    color: #ffffff;
    float: right;
    padding-right: 25px;
}


.heading{
    font-size: 24px;
    color: #251F47;
    padding: 50px 25px 5px 25px;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: .05em;
}

.header__logo{
    margin: 10px;
    height: 30px;
}

.header__nav{
    position: fixed;
    right: 0;
    top: 0;
    background-color: #251F47;
    z-index: 10;
    padding-top: 150px;
    opacity: .95;
    min-height: 1000px;
    font-size: 18px;
}

.header__nav a{
    display: block;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #ddd;
    }

 a:hover{
     color: #3A27A5;
 }

/** responsive nav**/
.header__nav.hidden{
    display: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #DBA327;
    margin: 1em 0;
    padding: 0;
}

.home_mockup{
    height: 700px;
}

.survey__graph{
    width: 100%;
}

.survey__graph-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.survey__graph-caption{
    width: 50%;
    font-weight: bold;
    font-size: 24px;
    letter-spacing:.05em;
    font-family: 'Fira Sans', sans-serif;
    padding-right: 25px;
}

.survey__graph-caption.last{
    padding-bottom: 50px;
}

.survey__graph-circle{
    width: 50%;
}

.intro{
    font-family: 'Fira Sans', sans-serif;
    padding: 0 25px;
    font-weight: black;
}

.intro_paragraph{
    text-align: center;
    padding: 12px 0;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    line-height: .5em;
    letter-spacing: .05em;

}

.intro__headline, .intro__subheadline, .paragraph__headline, .paragraph__subheadline{
    font-weight: 900;
    font-family: 'Fira Sans', sans-serif;
    font-weight: black;
    color: #251F47;
}

.intro__headline{
    font-size: 36px;
    letter-spacing: .05em;
    padding: 100px 0 50px 0;
}

.intro__subheadline, .paragraph__headline, .orange_header{
    font-size: 24px;
    letter-spacing: .05em;
    line-height: 1.25em;

}

.intro_text{
    padding: 25px;
}

/*labels for HF prototypes*/
.label{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #3A27A5;
    padding-bottom: 13px;
}

.logo__case__intro{
    display: flex;
    justify-content: center;
}


.main__logo{
    height: 150px;
}

.paragraph__headline{
    letter-spacing: .05em;
    color: #3A27A5;
    padding: 25px;
}

.org__headline{
    color: #DBA327;
}

.orange_header{
    font-family: 'Fira Sans', sans-serif;
    color: #DBA20E;
}

.paragraph__subheadline{
    font-size: 30px;
    letter-spacing: .05em;
}

.paragraph__subheadline.main{
    padding-bottom: 25px;
}
.paragraph__main__headline{
    letter-spacing: .05em;
    color: #3A27A5;
    padding-top: 50px;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Fira Sans', sans-serif;
    font-weight: black;
    text-align: center;
}

.past{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.paragraph_white{
    color: #ffffff;
}

.persona__images{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 25px;
    margin: 0 auto;

}

.persona{
    width: 100%;
    height: auto;
}

.persona__headline{
    padding: 25px;
    font-size: 24px;
    color:  #251F47;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}


.main.persona__headline{
    text-align: center;
}

.persona__quote{
    padding: 25px;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Fira Sans', sans-serif;
    color: #3A27A5;

}

.paragraph__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 0px 25px 25px;
    line-height: 1.5em;
}

.paragraph__text.user{
    list-style-type: circle;
    list-style-position: inside;

}


.paragraph_white{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 25px 0;
    line-height: 1.5em;

}
/**Persona background Color**/
.persona_one{
    background-color: #d2d2d2;
}
.pref__image{
    height: 100px;
}

.preftest{
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
}
.preftest__parent{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.preftest_two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.preftest_three{
    width: 70%;
    padding: 25px;
    display: flex;
    margin: 0 auto;
}

.preftest__three__text{
    text-align: center;
}

.problem{
    background-color: #443599;
    padding: 25px;
}

.project_page_headline{
    font-family: 'Fira Sans', sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding: 25px;
    letter-spacing: .05em;
}

.project_page_sub{
    color: #ffffff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding: 25px;
}
.project_title{
    text-align: center;
    font-size: 48px;
    font-family: 'Fira-Sans', sans-serif;
    letter-spacing: .05em;
    font-weight: bold;
    color:  #ffffff;
}

.roles, .deliverables, .tools{
    background-color: #D1DAE3;
    text-align: center;
    padding: 12px;
}

.signup{
  display: flex;
  flex-direction: column;
  background-color: #D1DAE3;
  padding-top: 25px;
}

.signup_mockup{
    width: 350px;
    padding: 25px;
    margin: 0 auto;

}
.stories__mockup{
    display: flex;
    align-items: center;
}
.solution{
    background-color:#251F47;
    padding: 25px;
}

.survey__circles{
    display: flex;
    flex-direction: column;
}

.teaching{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wireframes{
    background-color: #D1DAE3;
    display: flex;
    align-items: center;
    flex-direction: column;
}
