

.blue{
    background-color: #1E2C5F;
}

body{
    box-sizing: border-box;
}

.box{
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    font-size: 36px;
    letter-spacing: .05em;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    height: 650px;
    margin: 12.5px 0;
    overflow: hidden;   
}


.box2{
    margin: 12.5px 0;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.cases_white{
    color:white;
}

.container{
    max-width: 1600px;
}
.about__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 0 2em 2em 2em;
    line-height: 2em;
}

.about__text:last-of-type{
    padding-bottom: 4em;
}

.art__wrap{
    padding: 25px;
}

.art__image{
    width: 100%;
    border-radius: 50%;
    max-width: 250px;
}

.bio__headline{
    font-size: 36px;
    letter-spacing: .05em;
    padding: 1em;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #251F47;

}

.bio__image{
    padding-top: 60px;
    max-height: 400px;
}

.boxHeadline{
    font-size: 56px;
    margin-left: 75px;
    margin-right: 75px;
    padding: 50px 0;
    line-height: 80px;
}

.last{
    padding-bottom: 50px;
}


.branding_images{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
    padding-top: 25px;
}

.cases{
    width: 100%;
    padding: 50px 0;
    background-color: #123684;
    display: flex;
    flex-direction: column;
}

.cases2{
    background-color: #0E2B69;
    flex-direction: column-reverse;
}

.cases3{
    background-color: #160c4a;
}

.cases__images{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.cases__headline{
    color:  #DBA327;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding-bottom: 25px;
    letter-spacing: .05em;
    margin-left: 25px;
}

.case__logo{
    height: 80px;
    padding: 25px;
}

.cases__mockup{
    bottom: 20px;
    left: 150px;
    width: 100%;
}

.cases__mockup2{
    width: 100%;
    align-self: center;
}

.cases__subheader{
    font-size: 18px;
    color: #ffffff;
    font-family: 'Montserrat' , sans-serif;
    line-height: 125%;
    padding-bottom: 25px;
    text-align: left;
    margin-left: 25px;
    width: 80%;
    text-decoration: none;
}

.case__swot{
    display: flex;
    justify-content: space-around;
}

.cta__button{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    border: 3px solid  #DBA327;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    width: 220px;
    color: #F1EFFF;
    line-height: 30px;
    margin-left: 25px;
}

.cta__button:hover{
    background-color: #ffffff;
    color: #251F47;
}

.cyan{
   background-color: #2D8CBA;
}

.conclusion__button{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid  #DBA327;
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    width: 220px;
    color: #251F47;
    margin: 0 auto;
    line-height: 30px;
}

.conclusion{
    padding: 50px 0;
}

.conclusion__button{
    display: flex;
    justify-content: center;
}

.copyright{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1em;
}
/*font awesome icons*/

.fas.fa-angle-down{
    padding: 15px 0 25px 0;
    font-size: 36px;
    display: flex;
    justify-content: space-around;
    color: #DBA327;
}


.fas.fa-wrench, .fas.fa-tv, .fas.fa-pencil-ruler{
    color: #ffffff;
    font-size: 32px;
    padding-top: 12px;
}

.fas.fa-pencil-alt, .far.fa-file-alt, .far.fa-handshake, .far.fa-user, .fab.fa-behance-square{
    color: #ffffff;
    font-size: 18px;
    padding: 15px;

}

.featured__image{
    width: 60%;
    padding: 25px 25px 50px 25px;
}



.flows_parent{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #D1DAE3;
}

.flows__image{
    height: 200px;
    padding: 25px;
}


/** footer styles **/
footer{
    height: auto;
    width: 100%;
    background-color: #251F47;
    color: #ffffff;
}

.footer__button{
    display: flex;
    justify-content: center;
}

.footer__headline{
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
    color: #DBA327;
    font-size: 36px;
    text-align: center;
}

.footer__icon{
    padding-top: 20px;
    color: #DBA327;
    font-size: 25px;
}

.footer__display{
    display: flex;
    justify-content: space-around;
    padding: 25px;

}

.footer__subheadline{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #ffffff;
    padding: 25px;
}

/**case study header**/

.gatherIntro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #251F47, #123684);
    padding-top: 100px;
}

.gather__logo{
    height: 100px;
    padding: 25px;
}

.guide{
    padding: 25px;
    width: 40%;
}

.header{
    display: flex;
    background-color: #251F47;
    height: 50px;
    margin-bottom: 50px;
    position: fixed;
    width: 100%;
}

.header__wrap{
    display: flex;
    z-index: 20;
    width: 100%;
    justify-content: space-between;

}

.header__button{
    margin: 10px;
    color: #DBA327;
    font-size: 30px;
    z-index: 300;
}

.header__close{
    color: #ffffff;
    float: right;
    padding-right: 25px;
}


.heading{
    font-size: 24px;
    color: #251F47;
    padding: 50px 25px 5px 25px;
    font-family: 'Lato', sans-serif;
    letter-spacing: .05em;
}

.header__logo{
    margin: 10px;
    height: 30px;
}

.header__nav{
    position: fixed;
    right: 0;
    top: 0;
    background-color: #251F47;
    z-index: 10;
    padding-top: 150px;
    opacity: .95;
    min-height: 1000px;
    font-size: 18px;
    width: 40%;
}

.header__nav a{
    display: block;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #ddd;
    }

 a:active{
     color: #686ef1;
 }

 .full{
     width: 70%;
     margin: 0 auto;
     padding: 25px;
 }

.header__nav.hidden{
    display: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #DBA327;
    margin: 1em 0;
    padding: 0;
}

.home_mockup{
    height: 700px;
}

.img_container{
    width: 100%;
}

.imageTwo{
    width: 75%;
}

.imageThree{
    width: 65%;
    padding-bottom: 10px;
}

.imageFour{
    width: 50%;
    padding-bottom: 20px;
}

.intro{
    font-family: 'Lato', sans-serif;
    padding: 0 25px;
    font-weight: black;
}

.intro_paragraph{
    text-align: center;
    padding: 12px 0;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    line-height: .5em;
    letter-spacing: .05em;

}

.intro__headline, .paragraph__headline, .paragraph__subheadline, .paragraph__logo, .stories__headline, .persona_headline{
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-weight: black;
    color: #251F47;
}


.intro__headline{
    margin-left: 25px;
    font-size: 3em;
    line-height: 1.25em;
    letter-spacing: .07em;
    padding: 100px 0 50px 0;
    width: 80%;
    text-align: left;
}

.intro__subheadline, .paragraph__headline, .white__header, .orange__header, .stories_headline, .persona_headline{
    font-size: 24px;
    letter-spacing: .05em;
    line-height: 1.25em;
}

.intro__subheadline{
    margin-left: 25px;
    text-align: left;
    font-family: 'Lato', sans-serif;
    color: #251F47;
}

.intro_text{
    padding: 25px;
}
.intro__arrow-text{
    text-align: center;
    padding-top: 55px;
    font-family: 'Lato', sans-serif;
    color: #251F47;
}

/*labels for HF prototypes*/
.label{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    padding: 25px 0 13px 25px;
}

.logo__case__intro{
    display: flex;
    justify-content: center;
}


.main__logo{
    height: 150px;
}


.org__headline{
    color: #DBA327;
}

.orange__header{
    font-family: 'Lato', sans-serif;
    color: #DBA20E;
    text-align: center;
}

.paragraph__headline{
    letter-spacing: .05em;
    color: #123684;
    padding: .5em 2em;
         }
}

.paragraph__headline.logo{
    margin: 0;
}

.white__header{
    letter-spacing: .05em;
    color: #ffffff;
    padding: 25px;
    font-family: 'Lato', sans-serif;
}


.paragraph__subheadline{
    padding-left: 93px;
    font-size: 30px;
    letter-spacing: .05em;
    color: #123684;
}


.paragraph__main__headline{
    letter-spacing: .05em;
    color: #123684;
    padding: 70px 0 25px;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-weight: black;
    text-align: center;
}

.past{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.paragraph_white{
    color: #ffffff;
    width: 70%;
    margin: 0 auto;

}

.persona__images{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
    margin: 25px;
    margin: 0 auto;

}

.persona{
    width: 100%;
    height: auto;

}

.personas{
    padding-top: 3em;
}

.persona__headline{
    padding: 1em 2em 0;
    font-size: 24px;
    color:  #251F47;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.pref_float{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center
}

.preftest__three__text{
    width: 10%;
    justify-content: space-around;
}

.project__featured{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main.persona__headline{
    text-align: center;
}

.persona__quote{
    padding: 1em 2em;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    color: #123684;
    line-height: 1.25em;
}


.paragraph__text{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 2em 6em;
    line-height: 1.5em;
    margin: 0 auto;
}

.paragraph__text.user{
    list-style-type: circle;
    list-style-position: inside;
    padding: .5em 3em;
}


.paragraph_white{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 12.5px 0;
    line-height: 1.5em;

}

.stories__headline{
    letter-spacing: .05em;
    color: #123684;
     padding: 0 2em 1em;
}

/**Persona background Color**/
.persona__one{
    padding-bottom: 25px;
}

.pref__image{
    height: 100px;
}

.preftest{
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    padding: 2em 0 1em;
}

.preftest__parent{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.preftest_two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.preftest_three{
    width: 70%;
    padding: 25px;
    display: flex;
    margin: 0 auto;
}

.problem{
    background-color: #123684;
    padding: 25px;
}

.project_page_headline{
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding: 25px;
    letter-spacing: .05em;
}

.project__page__sub{
    color: #ffffff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    padding: 25px;
    text-align: center;
    line-height: 32px;
}

.project_title{
    color:  #ffffff;
    font-family: 'Fira-Sans', sans-serif;
    font-size: 48px;
    letter-spacing: .05em;
    font-weight: bold;
    text-align: center;
}

.project_title.paintings{
    padding-bottom: 50px;
}

.tools__container{
    padding-bottom: 50px;
}

.tools{
    background-color: #251F47;
    text-align: center;
    padding: 20px;
}

.signup{
  display: flex;
  flex-direction: column;
  background-color: #778899;
  margin-top: 25px;
  padding: 50px 0;

}

.project__row-image,
.project__row-image2
{
    width: 70%;
    padding: 25px;
    margin: 0 auto;
}

.stories__mockup{
    display: flex;
    align-items: center;
}
.solution{
    background-color:#251F47;
    padding: 25px;
}

.survey__graph{
    width: 100%;
}

.survey__circles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.survey__graph-container{
    width: 100%;
    display: flex;
}

.survey__graph-caption{
    display: flex;
    width: 40%;
    font-weight: bold;
    font-size: 18px;
    letter-spacing:.05em;
    font-family: 'Lato', sans-serif;
    align-items: center;
    line-height: 1.4rem;

}



.survey__graph-circle{
    width: 40%;
}

.survey__graph-circle .number,
.survey__graph-circle .percent {
    font-family: 'Lato', sans-serif;
}
.teaching{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.project__images-row{
    background-color: #778899;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.white{
    background-color: #ffff;
}

.whiteText{
    color: white;
    padding-top: 50px;
}

.button{
    color: white;
    margin-top: 25px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding-bottom: 25px;
    letter-spacing: .05em;
    margin-left: 25px;

}

.cases__button{
display: flex;
justify-content: center;
}



.yellow{
    background-color: #DBA20E;
}

/*
The are mobile changes

Remove the padding from this guy '.cases__mockup'. Dont put padding on images
it because of their nature it is hard to predict the results
and you end up with space you might not be accounting for

set width of .cases__mockup to 100%

update the image container class to look like this adds the outside
.cases__images {

}
